<h1>{{postagem.titulo}}</h1>
<small>{{postagem.descricao}}</small><br>
<small>Autor: {{postagem.autor}}</small><br>
<small>Data de Publicação: {{#formatDate}}{{postagem.data_publicacao}}{{/formatDate}}</small>
<hr>

<div class="card">
    <div class="card-box">
        <center><h2>{{postagem.conteudo}}</h2></center>
    </div>
</div>